

/* navbar logo */

.a:active{
    color: rgb(29, 156, 29);
}

nav{
    height: 100px;
   

}

.container-fluid .img{
    height: 100px;
    width: 70px;
   
}

.imgsrc{
    border-radius: 2px;
    
}
/* navbar content */

.navbar-nav li a{
    color: rgb(221, 239, 145) !important;
    font-weight: bold;
}


.navbar-nav li a:active{
 
    text-transform: lowercase;
    
}
.navbar-nav li a:hover{
    color: green!important;
    text-decoration: underline !important;
}






nav{
    background-color: rgba(0, 0, 0, 0.412);
}



/* login button */

.padd{
    padding-left: 250px;

}


/* modal */
h1{
    font-size: 17px;
}
.new{
    font-size: 17px;
    text-decoration: none;
}
.new:hover{
    text-decoration: underline;
    font-weight: bold;
}

.arr{
    padding-left: 70px;
}
.dis{
    padding-bottom: 13px;
    font-size: 17px;

}

/* cart */

h2{
    text-align: center ;
    padding-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

.tab{
    border: 2px bold ;
}

/* buy now */
.c{
    align-items: center ;
    
}
.align{
    align-items: center;
    padding-left: 185px;
    padding-bottom: 25px;
    padding-top: 25px;
}
.btn-outline-success:hover{
    border-color: black;
    border-width: 2px !important;
}
/* CAROUSEL */
 .carousel-inner{
     height: 700px;
     padding-top: 100px;
 }
 .carousel-item{
     height: 100%;
     width: 100%;
     
 }
 .size{
     height: 100%;
     width: 100%;
 }

 /* ROWS AND COLUMNS */
 h1{
     padding-top: 50px;
     text-align: center;
     padding-bottom: 25px;
     font-size: 30px;
     color: green ;
     font-weight: bold;
     
     
 }

 .card{
    border-color: green ;
    border-width: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;

 }
 .service-img{
     height: 350px;
    border: green;
 }
 .service-section{
     padding-left: 10px;
     padding-right: 10px;
 }




 /* HR */
.symbol{
    background-color: rgb(168, 233, 163);
    padding-top: 25px;
    padding-bottom: 25px;

}

.icon{
   height: 50px;
}

.pad{
    padding-left: 25px;
}
.symbol .down{
    
    color: black;
}

.symbol .down:hover{
    color: red;
}


.HEAD{
    font-size: 50px;
    font-weight: bold;

}
h4{
    text-align: center;
    padding-top: 5px;
    color: black;
    font-weight: bold;
}

h3{
    padding-left: 10px;
    font-size: 25px;
    text-align: center;
}
p{
    font-size:20px;
    font-weight: bold;
    text-align: center;
}

.ali{
    align-items: center;
}
.btn-outline-success{
    align-items: center;
}
.side{
    padding-left:50px;
    padding-top: 20px;
}

.font{
    align-items: center;
    padding-top: 35px;
    font-weight: bold;
}
.color{
    height: 100px;
    background-color: rgb(24, 209, 24);
}

.abt{
    height: 350px;
}
.abtus{
    font-size: 25px;
    padding-left: 100px;
}
.off{
    height: 250px;
    width: 1502px;
}